# Site wide configuration

title: "Amalgam Capital"
description: "We acquire and sustainably grow underrated businesses as independent sponsors."
logo: logo-circle.png
teaser: 
locale: en
url: https://amalgamcapital.com
feed:
  path: atom.xml

# Jekyll configuration

permalink: /:categories/:title/
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

plugins_dir:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate

collections:
  team-members:
    output: true  
  contact:
    output: true    

defaults:
           

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
