# Site wide configuration

title: "Amalgam Capital"
tagline: "Operators First, Investors Second."
description: "We acquire and sustainably grow underrated businesses as independent sponsors."
logo: /images/logo-circle.png
teaser: 
locale: en
url: https://amalgamcapital.com
feed:
  path: atom.xml

# Jekyll configuration

permalink: /:categories/:title/
highlighter: rouge

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-paginate

# jekyll-paginate configuration
paginate: 10
paginate_path: "/insights/page:num/"

# jekyll-seo-tag configuration
twitter:
  card: summary

collections:
  team-members:
    output: true  
  contact:
    output: true    

defaults:
  - scope:
      path: ""
    values:
      image: /images/social-default.jpg
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: post

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
