body {
    font-family: montserrat,sans-serif;
    font-style: normal;
    background: #2D3142;
    margin: 0;
    padding: 0;
}

a {
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.logo {
    animation: load 1s ease-in-out forwards;
    text-align: center;
    color: #E6E8EF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 200px;
}

.mark {
    background: none;
    margin: 0px auto;
    width: 100px;
    margin-bottom: 32px;
}

a.logo-link {
    margin: 0px auto;
    display: block;
    color: #E6E8EF;
    text-decoration: none;
}

a.logo-link:hover {
    color: #767C7C;
}

.stroke_one,.stroke_two,.stroke_three,.stroke_four,.stroke_five,.stroke_six,.stroke_seven {
    fill: none;
    stroke-linecap: round;
    stroke-linecap: round;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: all 2s ease;
    stroke-width: 0.5;
    stroke-width: 2.477;
}

.stroke_one {
    /* stroke: #767C7C; */
    stroke-dasharray: 51.573 295.332;
    stroke-dashoffset: 0;
}

.stroke_two {
    /* stroke: #767C7C; */
    stroke-dasharray: 41.243 295.332;
    stroke-dashoffset: -56.529;
}

.stroke_three {
    /* stroke: #F16545; */
    stroke-dasharray: 76.04 295.332;
    stroke-dashoffset: -102.726;
}

.stroke_four {
    /* stroke: #767C7C; */
    stroke-dasharray: 40.552 295.332;
    stroke-dashoffset: -183.722;
}

.stroke_five {
    /* stroke: #F16545; */
    stroke-dasharray: 11.452 295.332;
    stroke-dashoffset: -229.253;
}

.stroke_six {
    /* stroke: #F4C35A; */
    stroke-dasharray: 18.951 295.332;
    stroke-dashoffset: -245.659;
}

.stroke_seven {
    /* stroke: #767C7C; */
    stroke-dasharray: 25.773 295.332;
    stroke-dashoffset: -269.559;
}

.stroke-anim {
    animation-duration: stroke_anim;
}

@keyframes stroke_anim {
    0% {
        stroke-dashoffset: -50;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        scale: 1;
    }
    100% {
        opacity: 1;
    }
}