body {
    font-family: montserrat,sans-serif;
    font-style: normal;
    background: #2D3142;
    margin: 0;
    padding: 0;
}

.logo {
    animation: load 1.25s ease-in-out forwards;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 200px;
}

.mark {
    margin: 0px auto;
    width: 100px;
    margin-bottom: 32px;
}

@keyframes load {
    from {
         opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.stroke_one,.stroke_two,.stroke_three,.stroke_four,.stroke_five,.stroke_six,.stroke_seven {
    fill: rgba(0,0,0,0);
    stroke-linecap: round;
    stroke: rgba(0,0,0,0);
    stroke-width: 2;
    stroke-linecap: round;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.stroke_one {
    stroke: #767C7C;
    stroke-dasharray: 51.573 295.332;
    stroke-dashoffset: 0;
    animation-name: stroke_one;
}

@keyframes stroke_one {
from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 346.905;
    stroke-width: 2.477;
  }
}

.stroke_two {
    stroke: #767C7C;
    stroke-dasharray: 41.243 295.332;
    stroke-dashoffset: -56.529;
    animation-name: stroke_two;
}

@keyframes stroke_two {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 280.06;
    stroke-width: 2.477;
  }
}

.stroke_three {
    stroke: #F06647;
    stroke-dasharray: 76.04 295.332;
    stroke-dashoffset: -102.726;
    animation-name: stroke_three;
}

@keyframes stroke_three {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 268.65;
    stroke-width: 2.477;
  }
}

.stroke_four {
    stroke: #767c7c;
    stroke-dasharray: 40.552 295.332;
    stroke-dashoffset: -183.722;
    animation-name: stroke_four;
}

@keyframes stroke_four {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 152.15;
    stroke-width: 2.477;
  }
}

.stroke_five {
    stroke: #F06647;
    stroke-dasharray: 11.452 295.332;
    stroke-dashoffset: -229.253;
    animation-name: stroke_five;
}

@keyframes stroke_five {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 77.54;
    stroke-width: 2.477;
  }
}

.stroke_six {
    stroke: #F4C35A;
    stroke-dasharray: 18.951 295.332;
    stroke-dashoffset: -245.659;
    animation-name: stroke_six;
}

@keyframes stroke_six {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 68.615;
    stroke-width: 2.477;
  }
}

.stroke_seven {
    stroke: #767c7c;
    stroke-dasharray: 25.773 295.332;
    stroke-dashoffset: -269.559;
    animation-name: stroke_seven;
}

@keyframes stroke_seven {
    from {
    stroke: #767C7C;
}
  to {
    stroke-dashoffset: 51.52;
    stroke-width: 2.477;
  }
}