<footer class="bg-gradient-to-t text-brand-dark/50 dark:text-white/50 from-brand-gold-100 to-white dark:from-brand-coral-900 dark:to-brand-dark px-4 sm:px-6 lg:px-8 xl:px-32 py-12">
	<div class="max-w-7xl mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-4 gap-8">
			<div class="col-span-1">
				<ul class="space-y-2">
					{% for item in site.data.navigation.footer-primary %}
					<li><a class="hover:text-brand-coral dark:hover:text-brand-gold" href="{{item.url}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-span-1">
				<ul class="space-y-2">
					{% for item in site.data.navigation.footer-secondary %}
					<li><a class="hover:text-brand-coral dark:hover:text-brand-gold" href="{{item.url}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-span-1 text-sm">
				<ul class="space-y-4">
					<li>&copy; {{ 'now' | date: "%Y" }} Amalgam Capital, LLC</li>
					<li>510 Meadowmont Village Circle, Ste 212, Chapel Hill, NC 27517</li>
					<li><a class="hover:text-brand-coral dark:hover:text-brand-gold" href="/privacy-policy">Privacy Policy</a></li>
					<li><a class="hover:text-brand-coral dark:hover:text-brand-gold" href="/terms-of-service">Terms of Service</a></li>
				</ul>
			</div>
			<div class="col-span-1">
				<div class="flex justify-end mb-8">
					{% include logo.html class="size-48 stroke-brand-dark-300 dark:stroke-brand-gold-200 opacity-20" %}
				</div>
			</div>
		</div>
		<p class="text-xs">This website is intended solely to provide information regarding Amalgam Capital's potential partnering and financing capabilities for prospective transactions. The information provided on this website, including information regarding Amalgam Capital's current and historical portfolio companies, is not intended to recommend any company or investment described herein and is not an offer or sale of any security or investment product or investment advice. In any event, past performance is not a guarantee of future results and it should not be assumed that results for portfolio investments will be achieved for other investments. Representative investments are not to be considered a complete list of all investments made or currently held in Amalgam Capital's portfolio.</p>
	</div>
</footer>
