.home {
	.site-header {
		margin-top: $section-spacing;
		margin-bottom: $section-spacing;
		@include media-breakpoint-up(md) { 
			margin-top: $section-spacing * 2;
			margin-bottom: $section-spacing * 2;
		}
	}
}
.home-section {
	margin-bottom: $section-spacing;
	margin-top: $section-spacing * -1.5;
		padding-top: $section-spacing * 1.5;
	@include media-breakpoint-up(md) { 
		margin-top: $section-spacing * -2.5;
		padding-top: $section-spacing * 2.5;
	}
}

.hero {
	h2 {
		background: url(../images/eyebrow-one.svg) top left no-repeat, url(../images/eyebrow-two.svg) bottom left no-repeat;
		padding-top: $section-spacing;
		padding-bottom: $section-spacing;
	}
}

.numbers {
	.h4 {
	margin-bottom: $section-spacing-small;
	}
	.em-block {
		text-align: center;
		.large {
			font-weight: 500;
			color: $secondary;
			display: block;
			font-size: 3.428571429em;
		}
	}
}

.criteria {
	.criteria-content {
		background: url(../images/eyebrow-three.svg) top left no-repeat, url(../images/eyebrow-four.svg) bottom left no-repeat;
		padding-top: $section-spacing;
		padding-bottom: $section-spacing;
		p.large {
			margin-top: $section-spacing-small;
		}
		p strong {
			display: block;
		}
	}
}

.industries {
	.h1 {
	margin-bottom: $section-spacing;
	}
	img {
	margin: $section-spacing-small 0;
	max-width: 48px;
	max-height: 48px;
	}
	.block-content {
		flex-direction: column;
	}
}

.process {
	.process-content {
		background: url(../images/eyebrow-five.svg) top left no-repeat, url(../images/eyebrow-six.svg) bottom left no-repeat;
		padding: $section-spacing 0;
	}
	ul {
		padding: 0 0 0 $section-spacing-small;
		margin: 0;
	}
	li {
		margin-bottom: $section-spacing-tiny;
	}
	.block-content {
		text-align: left;
	}
	.em-block {
		padding-top: $section-spacing-small;
	}
}

p#business-statement {
	margin-top: $section-spacing-small;
}