/* Header */
.site-header {
	background: rgba($body-bg,0.88);
	backdrop-filter: blur(8px);
	z-index: 997;
	position: sticky;
	top: 0px;
	.row {
		display: flex;
	}
	h1.logo {
	    font-family: $base-font-family;
	    text-align: left;
	    text-transform: uppercase;
	    letter-spacing: 0.1em;
	    font-weight: 500;
	    font-size: 1em;
	    display: block;
	    margin: $section-spacing-tiny 0;;
	    @include media-breakpoint-up(md) { 
		    font-size: 1.51em;
		    margin: $section-spacing-small 0;
	    }
	}
	a.logo-link {
		max-width: 208px;
	    display: flex;
	    justify-content: space-between;
	    color: $light-text;
	    text-decoration: none;
	    align-items: center;
	    @include media-breakpoint-up(md) { 
		    max-width: 323px;
	    }
	    &:hover {
		    color: darken( $light-text, 20%);
	    }
	}
	.mark {
	    background: none;
	    padding: 0;
	    margin: 0;
	    width: 36px;
	    @include media-breakpoint-up(md) { 
		    width: 58px;
	    }
	}
	nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a {
		margin-left: $section-spacing-tiny;
	}
	ul {
		display: flex;
		list-style: none;
		margin: 0;
	}
	li {
		display: block;
	}
	}
}



/* Blocks */
.equal-blocks {
	display: flex;
	flex-wrap: wrap;
	.em-block {
		.block-content {
			padding-bottom: $section-spacing-tiny*4;
			height: 100%;
			width: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
		}
	}
}

.em-block {
	text-align: center;
	margin-bottom: $section-spacing-small;
	.block-content {
		display: block;
		background: rgba($body-light,0.15);
		border-radius: $border-radius;
		padding: $section-spacing-small;
	}
}

.em-block-alt {
	.block-content {
		background-color: $secondary;
		color: $body-dark;
	}
	hr {
		border-color: $body-dark;
	}
}

/* Footer */
.site-footer {
	background: rgba($body-dark,0.2);
	padding: $section-spacing 0;
	color: rgba($light-text,0.5);
	p {
	clear: both;
	}
	@include media-breakpoint-up(md) { 
	.footer-right {
		text-align: right;
	}
	}
	.mark {
		float: right;
		background: none;
		max-width: 100px;
		.stroke_one,.stroke_two,.stroke_three,.stroke_four,.stroke_five,.stroke_six,.stroke_seven {
			stroke: rgba($dark-text,0.75);
		}
	}
}

/* Content */
.content {
	min-height: 75vh;
}