.page-title {
	padding: $section-spacing 0;
	margin: $section-spacing 0;
	background: url(../images/eyebrow-three.svg) top left no-repeat, url(../images/eyebrow-four.svg) bottom left no-repeat;
}
#email-outline {
	background: $white;
	padding: $section-spacing;
	border-radius: $border-radius;
}